<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">

</head>

<body>


    <section class="wrapper">
        <h1>Sign Up!</h1>


        <div class="container">







            <form action="/auth/signup" method="post">
                <label for="">Name</label><input type="text" name="name" placeholder="Your Name" required><br>
                <label for="">UserName</label><input type="text" name="username" placeholder="Your Username" required><br>
                <label for="">Email</label><input type="email" name="email" placeholder="yourEmail@Email.com" required><br>
                <label for="">Password</label><input type="password" name="password" placeholder="Your Password" required><br>
                <label for="">Avatar</label><input type="text" name="avatar" placeholder="your avatar here"><br>
                <label for="">University</label><input type="text" name="university"><br>
                <label for="">Job</label><input type="text" name="job"><br>
                <label for="">Company</label><input type="text" name="company"><br>
                <label for="">Skills</label><input type="text" name="skills" required><br>
                <label for="">Phone</label><input type="text" name="phone" required><br>
                <label for="">City</label><input type="text" name="address.city"><br>
                <label for="">Country</label><input type="text" name="address.country" required><br>
                <button type="submit">Sign up!</button>

            </form>


        </div>

    </section>

</body>

</html>